body{background-color:#3A3A3A;}

/*haut de page*/
header{
	background-color:#724278;
}
div.tete{
	display: flex;
	justify-content : center;
}

h1.titre{
	color:white;
}

nav.le_menu ul li{
display:inline-block;
}

li.menu:hover{
font-size:13px;
}

.le_menu{
	display:flex;
	justify-content:center;
}

li.menu{
	padding:3px 3px 3px 3px;
	font-size:15px;
	background:#FFFFFF;
	box-shadow:3px 3px 2px black;
}

ul.connecte{
	padding:3px 3px 3px 3px;
	font-size:15px;
	background:#FFFFFF;
	box-shadow:3px 3px 2px black;
	display : none;
}
/*partie central de la page*/
div.ventre{
	min-height: 250px;
	background-color: white
}

h2.petit_titre{
	margin-top: 10px; 
	display: flex;
	justify-content : center;
	color:#724278;
}

div#modif{
	display: flex;
	justify-content : flex-start;
}

div#supp{
	display: flex;
	justify-content : flex-end;
}

div#les_taches{
	display:flex;
	justify-content:center;
}

div#nouv_tache{
	display:flex;
	justify-content:center;
}
/*bas de page*/
div.pied{
	margin-top: 10px;
	color:white;
	background-color:#724278;
	display: flex;
	justify-content : center;
	align-self: flex-end;
}

h3.iep{
	text-align: center;
}



