body{background-color:#3A3A3A;}


div.tete{
	background-color:#724278;
	display: flex;
	justify-content : center;
}

h1.titre{
	color:white;
}


.le_menu{
	display:flex;
	justify-content:center;
}

/*partie central de la page*/
div.ventre{
	height: 500px;
	background-color: white;
}

h2.petit_titre{
	margin-top: 10px; 
	display: flex;
	justify-content : center;
	color:#724278;
}

div#modif{
	display: flex;
	justify-content : flex-start;
}

div#supp{
	display: flex;
	justify-content : flex-end;
}

div#les_taches{
	display:flex;
	justify-content:center;
}

div#nouv_tache{
	display:flex;
	justify-content:center;
}

div.une_liste{
	padding: 30px;
}

div.toutes_les_listes{
	display:flex;
	justify-content:center;
}

input.voir_liste{
	color:white;
	background-color: #724278;
	border-color: black;
}
div.formulaire{
	display:flex;
	justify-content:center;
}

/*bas de page*/
div.pied{
	margin-top: 10px;
	color:white;
	background-color:#724278;
	display: flex;
	justify-content : center;
	align-items:flex-end;
}

h3.iep{
	text-align: center;
}



